torch
torchvision
transformers
peft
accelerate
datasets
opencv-python
mediapipe
pandas
numpy
matplotlib
scikit-learn
gradio
streamlit
albumentations
scipy
rouge-score
nltk
tqdm
tensorboard
python-dotenv
bitsandbytes
